#footer{
    padding:20px 0;
    text-align: center;
    li{
        display: inline-block;
        margin:0 5px;
        a{
            color:#000;
            text-decoration: none;
        }
    }
    .foo-menu{
        margin-top:15px;
    }
}