/* 
 *  Variables
 */

// - Font
$font: 'Roboto', sans-serif;
$font-h1:36px;
$font-h2:25px;
$font-h3:20px;
$font-p-small:14px;
$font-p:16px;
$font-p-large:20px;

// - Colors
$color-green:#80B23F;
$color-green-dark:#749d43;
$color-grey-light:#DEDEDE;
$color-grey:#414B57;
$color-grey2:#AAAAAA;
$color-orange:#ff911e;

// -Media Queries Sizes
$smartphone: 480px;
$smartphone-large:568px;
$tablet:  768px;
$tablet-large:  992px;
$desktop: 1200px;
$desktop-large:1824px;

