#slider{
    padding:60px 0;
    color:$color-grey;
    position:relative;
    .slide-item{
        text-align: center;
    } 
    .slide-image{
        max-width: 400px;
        display: inline-block;
    }
    .slide-text{
        margin: 20px 0;
    }
    .slide-client{
        display: table;
        width: 100%;
        img{
            width: 40px;
            border-radius: 20px;
            display: inline-block;
            vertical-align: middle;
        }
        p{
            display: inline-block;
            vertical-align: middle;
            padding-left: 15px;
            font-size: 14px;
            color:$color-grey2;
            font-weight:400;
            strong{
                color:$color-grey;
            }
        }
    }
    #slider-client{
        margin-top:20px;
    }
    .owl-controls{
        margin-top:25px;
    }
    .owl-dots{
        text-align:center;
    }
    .owl-dot{
        width: 10px;
        height: 10px;
        background: $color-grey-light;
        border-radius: 5px;
        display: inline-block;
        margin: 0 5px;
        &.active{
            background: $color-grey;
        }
    }
    @media only screen and (min-width:$tablet){
        .slide-image, .slide-content{
            display:table-cell;
            vertical-align: middle;
        }
        .slide-image{
            width:30%;
        }
        .slide-content{
            width:70%;
            text-align: left;
            padding-left: 30px;
        }
        .slide-item{
            display:table;
        }
    }
}
